@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Open+Sans:wght@300;600&display=swap');

*{
	margin: 0;
}

img{
	max-width: 100%;
}

 body{
 	font-family: font-family: 'Open Sans', sans-serif;
 	co;or: #2222;
}
.supportsection{
	min-height: 500px;
	 background:#f0f4c3;

}


.container{
	
	width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}
.banner{
	width: 50%;
    padding: 30px;
}
. content a{
	max-width: 50%;
	background: ##f0f4c3;
   padding: 30px;

}
.content h6{
	font-size: 25px;
}

 .content h2{
	font-size: 60px;
	font-weight: 900;
	line-height: 1.1;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.content p{
	font-size: 22px;
}
.content a{
	padding: 15px 35px;
    background: #0f3de1c4;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
}

  .featureSection{
  	padding: 50px 0;
  }
  .feature{
  	  max-width: 33.33%;
  	  /* background: beige; */
  	  padding: 15px;

  }
   .feature div{
   	   background: #of3de1c4;
   	   padding: 50px 25px;
   	   border-radius: 8px;
   	   background: #0f3de1c4;
   	   min-height: 255px;
   	   align-items: center;
   	   display: flex;
   	   flex-direction: column;
   	   justify-content: center;

   }
  .feature h2{}
  .feature p{
  	font-size: 17px;
  }
  .aboutUs{
  	background: burlywood;
  }
  . content b{
  	max-width: 50%;
  	background: burlywood;
  	padding: 30px;
  }
  
